@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        Calculator
    </title>
    <!-- CSS property to create interactive  
    calculator interface -->
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body>
<div align="center" class="title">
    Calculator
</div>
<form asp-action="index" method="post">
    <form class="calculator" name="Calculator">
        <table align="center" bgcolor="#c0c0c0" border="2" cellpadding="15" cellspacing="12">
            <tr>
                <td>
                    <input name="mathProcess" size="35" type="text" value="0"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Get Result"/>
                </td>
            </tr>
        </table>
    </form>
</form>
</body>
</html>