@model dynamic

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
</head>
<body>
<tr>
    <td>
        <text Size="35" class="display">@Model</text>
    </td>
</tr>
</body>
</html>