@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Result</title>
</head>
<body>
<div align="center" class="Result">
    Result
</div>
<form>
    <form class="calculator" name="Calculator">
        <table align="center" bgcolor="#c0c0c0" border="2" cellpadding="15" cellspacing="12">
            <tr>
                <td>
                    <text Size="35" class="display">* @Model</text>
                </td>
            </tr>
            <tr>
            </tr>
        </table>
    </form>
</form>
</body>
</html>